/* Scroll bar */
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  justify-content: center;
}

.scrolling-wrapper .card {
  display: inline-block;
}

/* Old Scroll bar */
/*.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  justify-content: center;
} 
.scrolling-wrapper-flexbox .card {
  flex: 0 0 auto;
  display: inline-block;
}*/

/* Card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  border-radius: 5px;
  margin: 5px;
  transition: 0.3s;
  background-color: transparent;
  top: 0px;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  text-align: center;
  height: 200px;
  padding-bottom: 70px;
}

.card-image {
  min-width: 300px;
  min-height: 150px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-text {
  padding: 0px 15px;
}

.card .card-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 70px;
}

button {
  border: 3px solid #173b6c;
  border-radius: 5px;
  display: inline-block;
  outline: 0;
  padding: 12px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  color: white;
  background-color: #173b6c;
  text-align: center;
  cursor: pointer;
  width: auto;
  height: auto;
  font-size: 18px;
}
  
button:hover {
  color: #173b6c;
  background-color: white;
}